@media screen  and (max-width: 400px){
    
.nav-container{
   flex-direction: column; 
   
}
.nav-item-container{
       flex-direction: column;
       width: 100%;

   
    }
    .nav-item-container a{
       margin-top: 20px;
       
    }
    .nav-item-container .login-btn{
        width: 100%;
        margin-bottom: 10px;
     } 

     /* banner section */

     .banner-container{
    
        flex-direction: column;
    }
    .banner-text,.banner-img{
        width: 100%;
    }
    .banner-text h1{
        font-size: 35px;
    }
    .banner-text p{
        font-size: 25px;
    }
    .fa-brands{
        font-size: 30px;
        
        
    }
    .banner-button{
        margin-bottom: 15px;
    }
    /* banner responsive end here */

    .grid-container{
        grid-template-columns: 1fr;
        
      
      }
      .grid-container p{
        margin-bottom: 10px;
    }

   .discout-container{
       flex-direction: column;
   }
   .discount-img,.discount-text{
    width: 100%;
    padding: 10px 20px;
   }
}